@import "tailwindcss";

:root {
  --background: #f4f5f8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes growUp {
  from {
    height: 0;
  }
  to {
    height: var(--target-height);
  }
}

.animate-grow {
  height: var(--target-height);
  animation: growUp 1.2s ease-out forwards;
}

